<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/the.css') }}">
</head>
<body>
    <h1>Registration Form:</h1>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action='process' method="POST">
          <p>First name: <input type='text' name='first_name'>
          <p>Last name: <input type='text' name='last_name'></p>
          <p>Email: <input type='text' name='email'></p>
          <p>Password: <input type='text' name='password'></p>
           <p>Confirm Password: <input type='text' name='confirmpassword'></p>
         <p><input type='submit' name='button' value='submit'></p>
      </form>

</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/the.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}
  {% endwith %}
  
	<form action='/process' method='POST'>
          <p>First name: <input type='text' name='first_name'>
          <p>Last name: <input type='text' name='last_name'></p>
          <p>Email: <input type='text' name='email'></p>
          <p>Password: <input type='text' name='password'></p>
           <p>Confirm Password: <input type='text' name='confirmpassword'></p>
         <p><input type='submit' name='button' value='submit'></p>
      </form>
      

</body>
</html>
 -->
