<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to a Great Number Game!</h1>
		<h2>I am thinking of a number between 1 and 100</h2>
			<p>Take a guess</p>
	<div>
		{{message}}
	</div>
	<form action = "/process" method="POST">
		<input type="text" name="guess"  placeholder="write your number">
		<input type="submit" name="submit" value="submit">
	</form>

		{% if session["result"] == "low" %}
			<div id="low">Too Low!!!</div>
		{% elif session["result"] == "high" %}
			<div id="high">Too high!!!</div>
		{% elif session["result"] == "Correct" %}
			<div class="result">
				<h1>You got it right!!!</h1>
			<a href="/replay"><button>Play Again</button></a>
		</div>
		{% endif %}

	
</body>
</html>
 -->
<!-- <form action = "/process" method="POST">
		<input type="submit" name="count" value="add +2">
	</form>
	<a href="/reset">reset</a> --> 
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 Your Gold: 

	 <p>Farm</p>
	  <p>(Earns 10-20 golds)</p>
	<form action="/process_money" method="post">
	  <input type="hidden" name="Farm" value="farm" />
	  <input type="submit" value="Find Gold!"/>
	</form><br>

	<p>Farm</p>
	  <p>(Earns 10-20 golds)</p>
	<form action="/process_money" method="post">
	  <input type="hidden" name="cave" value="cave" />
	  <input type="submit" value="Find Gold!"/>
	</form><br>

	<p>Farm</p>
	  <p>(Earns 10-20 golds)</p>	
	<form action="/process_money" method="post">
	  <input type="hidden" name="House" value="House" />
	  <input type="submit" value="Find Gold!"/>
	</form><br>

	<p>Farm</p>
	  <p>(Earns 10-20 golds)</p>
	<form action="/process_money" method="post">
	  <input type="hidden" name="Casino" value="Casino" />
	  <input type="submit" value="Find Gold!"/>
	</form><br>







</body>
</html>

 